 .varegister__container{
    margin-top: 4rem;
}
/*

.registerformbox__container,
.registerwhywork__container {
  flex-shrink: 0;
  max-width: 430px;
} */

/* .vaform__row{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.vasettinginput__container{
  flex: 1;
  display: block;
  position: relative;
  height: 3rem;
  padding: 15px;
  border-radius: 7px;
  border: 1.5px solid var(--color-font-darkgrey);
  background-color: var(--color-white);
  display: flex;
  align-items: center;
} */

.resume__container {
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 7px;
  /* max-width: 280px; */
}