#virtualheader{
    background-color: var(--color-bg-variant);
    min-height: 680px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.virtualheader__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.virtualheader__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.virtualheader__title > h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 4rem;
    padding-bottom: 1rem;
}

.virtualheader__title > p {
    width: 80%;
    font-size: 1rem;
    text-align: center;
}

