.login__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.loginmain__container {
  background-color: var(--color-white);
  margin-top: 5rem;
  border: 2px solid black;
  border-radius: 2rem;
  padding: 3rem;
}

.forgot__password {
  color: black;
  transition: var(--transition);
}

.forgot__password:hover {
  color: var(--color-bg-light);
}

.loginbutton__container {
  display: flex;
  margin-top: 3rem;
  gap: 2rem;
  text-align: end;
}

.logininsideform__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.logininsideform__container > h2,
.forgotpassword__container,
.loginbutton__container {
  margin: 0 auto;
}
.logininput__container {
  display: flex;
  flex-direction: column;
}

.logininput__form {
  height: 3rem;
  padding: 15px;
  border-radius: 7px;
  border: 1px solid black;
}

.loginpassword__container {
  display: flex;
  height: 3rem;
  padding: 0 10px;
  border-radius: 7px;
  border: 1px solid black;
  align-items: center; 
  gap: 5px; 
}

.loginpassword__container > input {
  flex: 1;
  height: 100%; 
  border: none; 
  outline: none;
}

.password-toggle {
  width: 30px; 
  height: 100%; 
  border: none;
  background: none;
  cursor: pointer;
}
@media screen and (max-width: 425px) {
  .login__container {
    display: block;
    height: 1200px;
    background-color: var(--color-white);
  }
  .loginmain__container {
    background-color: var(--color-white);
    margin-top: 0rem;
    border: none;
    border-radius: 0;
    padding: 3rem;
  }
}
