.login__container {
  position: relative;
}

.loginmain__container {
  margin: 4rem 1.5rem 3rem 1.5rem;
}

.lgn-title {
  color: var(--color-dark-yellow);
}

.forgotpassword__container {
  display: flex;
  justify-content: end;
}
.forgot__password {
  color: var(--color-font-darkgrey);
  transition: var(--transition);
  margin: 0.3rem;
  text-align: center;
}

.forgot__password:hover {
  color: var(--color-dark-yellow);
}

.logininsideform__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logininsideform__container > h2 {
  margin: 0 auto;
}
.logininsideform__container > h2 {
  padding-bottom: 2rem;
}

.logininput__container {
  margin-top: 1rem;
}

.logininput__form {
  width: 100%;
  background-color: var(--color-white);
}

.logininputpass__form {
  width: 80%;
  background-color: var(--color-white);
}

.password-container {
  position: relative;
  height: 3rem;
  padding: 15px;
  border-radius: 7px;
  border: 1.5px solid var(--color-font-darkgrey);
  background-color: var(--color-white);
  display: flex;
  align-items: center;
}

.password-toggle {
  position: absolute;
  right: 10px;
  width: 30px;
  height: 100%;
  border: none;
  background: none;
  cursor: pointer;
}

#lg-btn {
  display: inline-block;
  padding: 1rem 2.2rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: var(--transition);
  background: black;
  color: var(--color-white);
  margin: 1.5rem 0;
}

#lg-btn:hover{
  background: #262626;
  color: var(--color-white);
  border-color: transparent;
}

.googlesign__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.googleloginborder {
  color: var(--color-font-darkgrey);
  font-size: 12px;
}

.login__noaccount {
  margin-top: 2rem;
  color: var(--color-font-darkgrey);
}

.signuplogin__text {
  color: var(--color-dark-yellow);
  transition: var(--transition);
}

.signuplogin__text:hover {
  color: #a34002;
}

@media screen and (max-width: 425px) {
  .login__container {
    display: block;
    height: 800px;
    background-color: var(--color-white);
  }
  .loginmain__container {
    background-color: var(--color-white);
    margin-top: 0rem;
    border: none;
    border-radius: 0;
    padding: 3rem;
  }
}
