.canceljob__container{
    padding: 1rem;
}

.canceljob__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}

.canceljob__buttons{
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
    justify-content:flex-end;
    align-items: center;
}