#faqs {
  min-height: 1100px;
}
.faqs__container {
  padding: 80px 0;
  width: var(--container-width-lg);
  margin: 0 auto;
}

.faqs__titleheader > h2,
.faqs__titleheader > h5 {
  text-align: center;
  color: var(--color-white);
  margin-top: 1.5rem;
}

.faqs__titleheader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faqs__titleheader > h2 {
  color: #111111;
  font-size: 30px;
}

.faqs__titleheader > h5 {
  color: #111111;
  width: 70%;
  margin-bottom: 2rem;
  text-align: justify;
  font-size: 18px;
}

/* csaaa */
.faqs__container {
  padding: 0 0 180px 0;
}

.faqs__text {
  margin-bottom: 2rem;
}

.faqs__text > h5 {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.faqs__content {
  gap: 3px;
  background-color: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 2rem;
  transition: var(--transition);
  margin-bottom: 3px;
}

.faqs__content:hover {
  background: #ffeeab;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.faqs__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faqs__description {
  max-height: 0;
  width: 80%;
  margin: 1% 0 0 3%;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.faqs__description.show {
  height: auto;
  width: 80%;
  margin: 1% 0 0 3%;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

.faqs__accordion {
  overflow: auto;
  height: 480px;
  padding: 1.5rem;
  background-color: black;
  border: 2px solid black;
  border-radius: 0.5rem;
  animation: glow2 2s ease-in-out infinite alternate;
}

.faqs__accordion::-webkit-scrollbar {
  width: 10px;
}

.faqs__accordion::-webkit-scrollbar-track {
  background: #111111;
}

.faqs__accordion::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.faqs__accordion::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* RESPONSIVE MEDIA QUERIES (TABLET SIZE) */

@media screen and (max-width: 1300px) {
  #faqs {
    min-height: 900px;
    border-bottom-left-radius: 230px;
    border-bottom-right-radius: 230px;
  }
  .faqs__titleheader > h5 {
    width: 80%;
    text-align: justify;
    font-size: 1.3vw;
  }

  .faqs__titleheader > h2 {
    font-size: 2.5vw;
  }

  .faqs__description {
    font-size: small;
  }

  .faqs__description.show {
    font-size: small;
  }
}
/* RESPONSIVE MEDIA QUERIES (PHONE SIZE) */

@media screen and (max-width: 703px) {
  #faqs {
    min-height: 800px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
  }

  .faqs__container {
    width: var(--container-width-zero);
  }

  .faqs__titleheader > h5 {
    width: 80%;
    text-align: justify;
    font-size: 2.3vw;
  }

  .faqs__titleheader > h2 {
    font-size: 4.3vw;
  }

  .faqs__description {
    font-size: small;
  }

  .faqs__description.show {
    font-size: small;
  }

  .arrowdown {
    width: 12px;
  }

  .faqs__title > h2 {
    font-size: 13px;
  }
}

@media screen and (max-width: 480px) {
  #faqs {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  .faqs__titleheader > h5 {
    width: 80%;
    text-align: justify;
    font-size: 2.5vw;
  }

  .faqs__titleheader > h2 {
    font-size: 4vw;
  }
  .arrowdown {
    width: 10px;
  }

  .faqs__title > h2 {
    font-size: 10px;
  }

  .faqs__description {
    font-size: x-small;
  }

  .faqs__description.show {
    font-size: x-small;
  }
}
