.parallax {
  position: relative;
  background-color: var(--color-bg-variant);
}

.parallax__container {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
  width: 100%;
}

.parallax__title {
  font-weight: bold;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.parallax__p {
  padding-top: 1.3rem;
  margin-inline: auto;
  text-align: center;
  width: 70%;
}

.parallax__image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}

.top-horizontal-line-header {
  margin-bottom: 5rem;
  width: 80px; /* Adjust the width as needed */
  height: 10px; /* Set the height/thickness of the line */
  border-radius: 10rem;
  background-color: var(--color-dark-yellow); /* Set the color of the line */
  margin-inline: auto;
}

.top-horizontal-line-header {
  margin-bottom: 5rem;
  width: 80px; /* Adjust the width as needed */
  height: 10px; /* Set the height/thickness of the line */
  border-radius: 10rem;
  background-color: var(--color-dark-yellow); /* Set the color of the line */
  margin-inline: auto;
}

@media screen and (max-width: 1300px) {
  .parallax__container {
    min-height: 900px;
  }
}

@media screen and (max-width: 703px) {
  .parallax__container {
    min-height: 600px;
    width: 100%;
  }

  .parallax__title {
    margin-top: 0;
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 418px) {
  .parallax__container {
    min-height: 500px;
    width: 100%;
  }

  .parallax__title {
    margin-top: 0;
    font-weight: bold;
    font-size: 1.5rem;
  }
}
