.parallax {
  position: relative;
  background-color: var(--color-bg-variant);
}

.parallax__container {
  overflow: hidden;
  position: relative;
  min-height: 500px;
  width: 100%;
}

.parallax__title {
  margin-top: 0px;
  font-weight: bold;
  font-size: 4rem;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Times New Roman', Times, serif; 
}

.parallax__image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}

@media screen and (max-width: 1300px) {

  .parallax__container {
    min-height: 900px;
  }
}


@media screen and (max-width: 703px) {

  .parallax__container {
    min-height: 600px;
    width: 100%;
  }

  .parallax__title {
    margin-top: 0;
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 418px) {

  .parallax__container {
    min-height: 500px;
    width: 100%;
  }

  .parallax__title {
    margin-top: 0;
    font-weight: bold;
    font-size: 1.5rem;
  }
}