.viras__container {
  margin-top: 4rem;
}

.vatitle__choose {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 2rem;
  color: var(--color-font-darkgrey);
}

.vatitle__choose > h1 {
  width: 70%;
}

.va__choose {
  margin: 5rem 0 6rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  filter: drop-shadow(-1px 9px 8px rgba(0, 0, 0, 0.5));
}

.vachoose__box {
  padding: 1rem;
  width: 400px;
  text-align: center;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  cursor: pointer;
}

.vachoose__box:hover {
  transform: scale(1.04);
}

.active__hex {
  position: relative; /* You can adjust the color and thickness as needed */
}

.active__hex::after {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  background-color: var(
    --color-bg-variant
  ); /* You can adjust the color as needed */
  position: absolute;
  bottom: -15px;
}

.var {
  background: url("../../../assets/building.png");
  color: var(--color-white);
  background-size: cover;
  background-repeat: no-repeat;
}

.sva {
  background: url("../../../assets/va-img.png");
  color: var(--color-white);
  background-repeat: no-repeat;
  background-size: cover;
}

.vcc {
  background: url("../../../assets/callcenter.png");
  color: var(--color-white);
  background-position: 100% 30%;
  background-repeat: no-repeat;
  background-size: cover;
}

.content__tab {
  display: none;
}

.show__content {
  display: block;
}

.viras__maincontainer > h1 {
  font-size: 90px;
  width: 80%;
}

.viras__maincontainer > p {
  font-size: 20px;
}

.viras__maincontainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.span__text {
  color: var(--color-bg-variant);
}

.va__container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  padding: 2rem 4rem;
  border-radius: 1.5rem;
  gap: 1rem;
}

.viras__list {
  margin-bottom: 2.5rem;
}

.viras__list > h1,
.viras__list > p {
  margin-bottom: 2.5rem;
}

.title__viras {
  text-align: center;
  margin-bottom: 2rem;
}

.bullet__list li {
  list-style-type: circle;
  margin-left: 20px;
}

.viras__gridlist {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1.5rem;
}

.coming__soon {
  font-size: 20px;
  color: rgb(116, 116, 116);
}

.vaback__container {
  text-align: center;
  padding: 0 0 30px 0;
}

@media screen and (max-width: 910px) {
  .viras__maincontainer > h1,
  .span__text {
    font-size: 60px;
    text-align: center;
    margin: 0 auto;
  }

  .viras__maincontainer > p {
    font-size: 16px;
    text-align: justify;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .viras__container {
    width: 100%;
  }

  .viras__gridlist {
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
  }

  .va__container {
    padding: 2rem 2rem;
  }

  .vaback__container {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 510px) {
  .viras__maincontainer > h1,
  .span__text {
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
  }

  .viras__maincontainer > p {
    font-size: 15px;
    text-align: justify;
    margin: 0 auto;
    padding: 0 1rem;
  }
  .viras__list {
    margin-bottom: 0.5rem;
  }

  .viras__list > h1,
  .viras__list > p {
    margin-bottom: 1.2rem;
  }

  .list__title {
    font-size: 5vw;
  }

  .viras__list > h2,
  .coming__soon {
    font-size: 4.3vw;
  }
  .viras__list > p {
    font-size: 3.5vw;
  }
  .viras__gridlist {
    display: block;
  }

  .grid__content {
    margin-bottom: 1.5rem;
  }
  .grid__content > h2 {
    font-size: 4.3vw;
  }

  .bullet__list > li {
    font-size: 3.5vw;
    margin-bottom: 5px;
  }
}
