.navbar {
  position: sticky;
  top: -1px;
  left: 0;
  z-index: 99;
  background-color: var(--color-bg-variant);
}

.navbar__container {
  background-color: var(--color-bg-variant);
}

.navbar__contents {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar__box {
  display: flex;
  gap: 2rem;
  min-width: 70px;
}

.navbar__beehub {
  margin-right: 30px;
  flex-shrink: 0;
}
.navbar__beehub img {
  width: 80px;
  height: 80px;
}

.navbarlogo__container {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__logo img {
  height: 70px;
}

.navbar__links {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.active-nav {
  position: relative;
}

.active-nav::after {
  content: "";
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  left: calc(50%-0.6rem);
  transform: rotate(45deg);
  margin-top: 0.9rem;
}

.sidebar__menu,
#sidebar__menu {
  display: none;
}

/* Dropdown Button */
.dropbtn {
  color: black;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 350px;
  max-height: 300px;
  overflow-y: scroll;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0.4rem;
  z-index: 1;
}

.dropdown-content-small {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 250px;
  max-height: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0.4rem;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a,
.dropdown-content-small a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover,
.dropdown-content-small a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-content-small {
  display: block;
}

.dropdown-title {
  text-align: center;
  font-weight: bold;
  padding: 12px 16px;
}

#login-btn {
  width: max-content;
  display: inline-block;
  padding: 0.7rem 1.5rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: var(--transition);
  background: black;
  color: var(--color-white);
}

#login-btn:hover{
  background: #262626;
  color: var(--color-white);
  border-color: transparent;
}

.exit__button {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 1;
}

/* MEDIA QUERIED */
@media screen and (max-width: 860px) {
  .sidebar__menu,
  #sidebar__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 80px;
    padding-right: 20px; 
  }

  .navbar__link{
    display: none;
  }
}
