#contact {
  background-color: var(--color-bg-darkgrey);
  min-height: 1400px;
}

.contact__container {
  padding-top: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact__card{
  padding-bottom: 10rem;
}

.contact__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 30px;
}

.contact__title > h1 {
  color: var(--color-white);
  font-size: 4vw;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin-bottom: 8rem;
}

.contact__title > h2 {
  color: var(--color-white);
  font-size: 1.5vw;
  margin-top: 0.2rem;
  text-align: center;
}

.build__text {
  color: var(--color-bg-variant);
}

.contact__details {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
}

.contact__info {
  background-color: #161616;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
  min-width: 400px;
  padding: 4rem 2rem;
  border-radius: 0.5rem;
}

.contact__info > h3,
.contact__info > h4,
.contact__icon,
.join__button {
  font-size: 1vw;
}


@media screen and (max-width: 1300px) {
  .contact__title > h2 {
    font-size: 4vw;
  }

  .contact__title > h1 {
    font-size: 3vw;
    margin-top: 6rem;
  }

  .contact__info > h3,
  .contact__info > h4,
  .contact__icon,
  .join__button {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 800px) {
  #contact {
    min-height: 700px;
  }

  .contact__title > h2 {
    font-size: 4.2vw;
  }

  .contact__title > h1 {
    font-size: 3vw;
    margin-top: 3rem;
  }

  .contact__info > h3,
  .contact__info > h4,
  .contact__icon,
  .join__button {
    font-size: 2vw;
  }
}

@media screen and (max-width: 574px) {
  #contact {
    min-height: 700px;
  }

  .contact__info {
    margin-bottom: 2rem;
  }
  .contact__container {
    margin-top: 100px;
  }

  .contact__title > h2 {
    font-size: 7vw;
    text-align: center;
  }

  .contact__title > h1 {
    font-size: 5vw;
    margin-top: 2rem;
  }

  .contact__info > h3,
  .contact__info > h4,
  .contact__icon,
  .join__button {
    font-size: 3vw;
  }

  .contact__button {
    margin-right: 20px;
  }
}
