#hiring {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.hiring__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hiring__title {
  padding-top: 8rem;
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 4rem;
  color: var(--color-font-darkgrey);
  z-index: 2;
}

.hiring__container > img {
  width: 80%;
}
.title__button {
  padding-bottom: 3rem;
}

.beehive__logo_three{
  height: 600px;
  width: 600px;
  position: absolute;
  bottom: -20px;
  left: -200px;
}