.copyright-container {
  /* border-top: 2px solid rgba(0, 0, 0, 0.2); */
  background-color: var(--color-bg-variant);
  display: flex;
  /* justify-content: center;
  align-items: center; */
  padding: 0.5rem 0;
}
/* .copyright__container {
  background-color: var(--color-bg-variant);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40rem;
  flex-wrap: wrap-reverse;
} */


.copyright__contents {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

 .copyright__title {
    text-align: center;
  }

@media screen and (max-width: 1390px) {
  .copyright__container {
    gap: 20rem;
  }
}

@media screen and (max-width: 1075px) {
  .copyright__container {
    gap: 10rem;
  }
}

@media screen and (max-width: 910px) {
  .copyright__container {
    gap: 5rem;
  }
}

@media screen and (max-width: 830px) {
  .copyright__container {
    gap: 2rem;
  }

  .copyright__contents {
    gap: 1rem;
  }

  .copyright__title {
    text-align: center;
  }
}
