.footer__container {
  background-color: var(--color-bg-variant);
  padding: 2rem 0;
  text-align: center;
}

.footer__contents {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.footerlogo__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__socials > p {
  font-size: 20px;
}

.footer__logo {
  width: 300px;
}

.footer__links {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  gap: 6rem;
}

.links__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.icon__living {
  transition: var(--transition);
}

.icon__living:hover {
  transform: scale(1.15);
}

@media screen and (max-width: 824px) {
  .footer__contents {
    flex-direction: column;
  }

  .footer__logo {
    width: 50%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 5rem;
  }

  .links__content a {
    margin-right: 0;
  }

  .footer__links {
    text-align: center;
    gap: 6rem;
    padding: 0 2rem;
    margin-left: 0;
    justify-content: center;
  }
}

@media screen and (max-width: 395px) {
}
