#choose {
  min-height: 1200px;
}

.choose__container {
  padding: 0 0 80px 0;
  width: var(--container-width-lg);
  margin: 0 auto;
}

.choose__container {
  padding: 0 0 80px 0;
  width: var(--container-width-lg);
  margin: 0 auto;
}

.choose__content > img {
 max-width: 600px;
 padding-bottom: 5rem;
}
.choose__content {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choose__title > p {
  font-size: 25px;
  text-align: center;
  color: var(--color-font-darkgrey);
}

.choose__desc {
  margin-top: 80px;
}

.carousel__container {
  width: 100%;
  margin: 0 auto;
}

.carousel__class {
  padding: 0.5rem 2rem;
  margin-top: 8rem;
  border-radius: 0.5rem;
  background-color: var(--color-bg-variant);
  animation: glow2 2s ease-in-out infinite alternate;
}
.choose__details {
  padding: 3rem 2rem;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.details__container {
  color: #000000;
}

.details__container > p {
  margin-top: 1.5rem;
}

@keyframes glow2 {
  0% {
    box-shadow: 0 0 10px 0px #000000;
  }
  100% {
    box-shadow: 0 0 20px 5px #292929;
  }
}
@media screen and (max-width: 1300px) {
  #choose {
    min-height: 1900px;
  }
  .choose__container {
    padding: 50px 0;
    width: var(--container-width-lg);
  }
  .choose__title > p {
    width: 95%;
    margin: 0 auto;
    font-size: 2vw;
  }
  .carousel__container {
    min-width: 100%;
  }

  .details__container > h1 {
    font-size: 2vw;
  }

  .details__container > p {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 703px) {
  #choose {
    min-height: 1500px;
  }
  .choose__container {
    padding: 50px 0;
    width: var(--container-width-zero);
  }
  .choose__title > p {
    width: 95%;
    margin: 0 auto;
    font-size: 3vw;
  }
  .carousel__container {
    min-width: 100%;
  }

  .details__container > h1 {
    font-size: 3.5vw;
  }

  .details__container > p {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 418px) {
  #choose {
    min-height: 1300px;
  }
  .choose__container {
    padding: 50px 0;
    width: var(--container-width-zero);
  }
  .choose__title > p {
    width: 95%;
    margin: 0 auto;
    font-size: 4.5vw;
  }
  .carousel__container {
    min-width: 100%;
  }

  .details__container > h1 {
    font-size: 5vw;
  }

  .details__container > p {
    font-size: 3vw;
  }
}
