#choose {
  min-height: 1000px;
}

.choose__container {
  position: relative;
  padding-top: 8rem;
}

.beehive__logo {
  height: 600px;
  width: 550px;
  position: absolute;
  top: 480px;
  right: 0px;
  z-index: 1;
}

.beehive__logo_two {
  height: 400px;
  width: 380px;
  position: absolute;
  top: -350px;
  left: 0px;
}

.choose__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.choosecontent__container {
  margin: 5rem 0 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
  z-index: 1;
}

.choose__box {
  height: 100%;
  width: 300px;
  border-radius: 0 0 2rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: var(--color-white);
}

.choose__title {
  padding-top: 2rem;
  z-index: 1;
}

.choose__title > h1 {
  font-family: "Playfair Display", serif;
  color: var(--color-font-darkgrey);
  font-size: 4rem;
}

.choose__list {
  height: 540px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1.5rem;
}

.choosebox__title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  height: 80px;
  background-color: var(--color-dark-yellow);
  border-radius: 0 0 2rem 2rem;
}

.choosebox__title > h1 {
  font-size: 18px;
  text-align: center;
}

.choosebox__list {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.choosecheck__icon {
  color: var(--color-dark-yellow);
  flex-shrink: 0;
}
