.profiletable__title {
  position: relative;
}

.jobpost-btn {
  position: absolute;
  right: 2rem;
  padding: 0.5rem 0;
}
.company__overview {
  width: 65%;
}

.company__overview > p {
  word-wrap: break-word;
}
